{% extends "main_app/layout.html" %}
{% load static %}
{% block body %}


<div id="main_div" class="row">
	<!-- Column 1 -->
	<div class="col-sm border-start">

		<!-- Profile Banner -->
		<div id="profile_banner" class="my-3">
			<!-- Profile Avatar -->

			<img class="avatar" src="{% static 'main_app/images/' %}{{ user.avatar }}.svg" alt="Avatar">
			<!-- Profile Status -->
			<div class="container-fluid">
				<h6 class="my-2 border-bottom">{{ user.nickname }}, Level 1</h6>
				<small>Health 50/50</small>
				<div class="progress">
					<div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<small>Exp 10/100</small>
				<div class="progress">
					<div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>

		<!-- Task -->
		<h3>Tasks</h3>
		<!-- Navigation -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<!-- Todos -->
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="todos-tab" data-bs-toggle="tab" data-bs-target="#todos" type="button" role="tab" aria-controls="todos" aria-selected="true">
					Todos
				</button>
			</li>
			<!-- Habits -->
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="habits-tab" data-bs-toggle="tab" data-bs-target="#habits" type="button" role="tab" aria-controls="habits" aria-selected="false">
					Habits
				</button>
			</li>
			<!-- Dailies -->
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="dailies-tab" data-bs-toggle="tab" data-bs-target="#dailies" type="button" role="tab" aria-controls="dailies" aria-selected="false">
					Dailies
				</button>
			</li>
		</ul>
		<!-- Actual Tasks -->
		<div class="tab-content p-1 bg-white border border-top-0" id="myTabContent">
			<!-- Todo Tab -->
			<div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="todos-tab">
				<!-- Todo Items -->
			</div>

			<!-- Habits Tab -->
			<div class="tab-pane fade" id="habits" role="tabpanel" aria-labelledby="habits-tab">Habits</div>

			<!-- Dailies Tab -->
			<div class="tab-pane fade" id="dailies" role="tabpanel" aria-labelledby="dailies-tab">Dailies</div>
		</div>
		
	</div>
	<!-- Column 2 -->
	<div class="col-sm-5 border-start py-3">
		<h3>Rewards</h3>
		<div class="mb-3 border-bottom">
			<small>
				You have 100 <i class="fas fa-coins"></i>
			</small>
		</div>
		<div class="card-group row row-cols-auto g-3">
			<div class="col">
				<div class="card">
					<img class="avatar" src={% static 'main_app/images/food.svg' %} alt="Elf">
					<div class="card-body p-2">
						<small class="text-secondary">Food (10HP)</small>
						<small>75 <i class="fas fa-coins"></i></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="avatar" src={% static 'main_app/images/potion.svg' %} alt="Elf">
					<div class="card-body p-2">
						<small class="text-secondary">40HP Potion</small>
						<small>300 <i class="fas fa-coins"></i></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="avatar" src={% static 'main_app/images/orc.svg' %} alt="Orc">
					<div class="card-body p-2">
						<small class="text-secondary">Orc Avatar</small>
						<small>500 <i class="fas fa-coins"></i></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="avatar" src={% static 'main_app/images/elf-girl.svg' %} alt="Elf">
					<div class="card-body p-2">
						<small class="text-secondary">Elf Avatar</small>
						<small>900 <i class="fas fa-coins"></i></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="avatar" src={% static 'main_app/images/grim-reaper.svg' %} alt="Grim Reaper">
					<div class="card-body p-2">
						<small class="text-secondary">Reaper Avatar</small>
						<small>2000 <i class="fas fa-coins"></i></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="avatar" src={% static 'main_app/images/witch.svg' %} alt="Elf">
					<div class="card-body p-2">
						<small class="text-secondary">Witch Avatar</small>
						<small>3000 <i class="fas fa-coins"></i></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS -->
<script type="module" src={% static 'main_app/js/main.js' %}></script>
{% endblock %}
