{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Habit50 RPG{% endblock %}</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<!-- Bootstrap Icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link href="{% static "main_app/styles.css" %}" rel="stylesheet">
	{% block custom_head_items %}
	{% endblock %}
</head>
<body>
	<div class="container py-4">
		<header class="pb-3 mb-3 border-bottom"> 
			<a href="/" class="fs-4 text-darkgreen text-decoration-none">
				<i class="bi bi-controller"></i>
				Habit50 RPG
			</a>
			<div class="dropdown">
				<button class="px-2 py-0 text-darkgreen btn btn-light"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fs-3 bi bi-list"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				{% if user.is_authenticated %}
					<li><a class="dropdown-item" href="#">Action</a></li>
					<li><a class="dropdown-item" href="#">Another action</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				{% else %}
					<li><a class="dropdown-item" href="/login">Login</a></li>
					<li><a class="dropdown-item" href="/sign_up">Sign Up</a></li>
				{% endif %}
				</ul>
			</div>
		</header>
		{% block body %}
		{% endblock %}
	</div>
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
