{% extends "main_app/layout.html" %}
{% block body %}

<div class="container-fluid py-5 px-sm-5 my-4 bg-light">
	<h1 class="fw-bold">Habit50 RPG</h1>
	<p class="fs-4">
		A gamified task manager similar to Habitica.
	</p>
	<button onclick="document.location='/login'" class="btn btn-shadow me-2 mb-2">Login</button>  
	<button onclick="document.location='/register'" class="btn btn-shadow mb-2">Sign Up</button>
</div>
<div class="container-fluid pt-4 border-top row">
	<div class="col-md px-sm-5">
		<h2>Track Your Habits and Goals</h2>
		<p class="fs-6">
			Stay accountable by tracking and managing your Habits, Daily goals, and To Do list with Habit50's easy-to-use mobile and web interface.
		</p>
	</div>
	<div class="col-md px-sm-5">
		<h2>Earn Rewards For Your Goals</h2>
		<p class="fs-6">
			Check off tasks to level up your character and unlock in-game features such as avatar customizations, accessories, and magic items!
		</p>
	</div>
</div>

{% endblock %}
