
header {
	display: flex;
	justify-content: space-between;
}

header > a:hover {
	color: black;
}

.btn {
	box-shadow: none;
}

#avatar {
	height: 125px;
	padding: 10px;
	background-color: #f5ecd2;
}


#main_div {
	min-height: 70vh;
	margin: 1px;
	background-color: #fafafa;
}


#main_div a {
	color: black;
}

.nav-link {
	color: var(--bs-secondary);
}

.bg-gray-200 {
	background-color: var(--bs-gray-200);
}

.todo-item {
	display: flex;
	background-color: var(--bs-gray-200);
}

.todo-item button {
	border-radius: 0;
}

.todo-item.completed, .todo-item.completed small {
	color: gray !important;
}


.overflow-hide {
	overflow: hidden;
}

.deadline {
	padding: 10px;
}

.todo-desc {
	display: flex;
}

#profile_pic {
	display: inline-block;
	width: 130px;
	height: 130px;
	background-color: #d0ffff;
}

#profile_banner {
	display: flex;
}

#profile_banner div {
	max-width: 300px;
	margin-left: 0;
}

#profile_banner > div > small {
	font-size: 0.8em;
	font-weight: 600;
}

.add-item button:hover {
	background-color: #f1f1f1 !important;
}

.rdtPicker {
	border: 1px solid #d0d0d0 !important;
	border-radius: 10px;
}

td.rdtToday {
	background-color: #e1effb;
}

.delete-todo {
	background-color: gray;
}

.todo-title {
	flex-grow: 1;
	padding-left: 10px;
}
