.bg-darkgreen {
	background-color: #1B4332;
}

header {
	display: flex;
	justify-content: space-between;
}

header > a:hover {
	color: black;
}

.text-darkgreen {
	color: #108050;
}

.bg-light {
	background-color: #f6f6f6 !important;
}

.btn-light {
	background-color: #f6f6f6;
}

.btn-shadow {
    color: #000;
    background-color: #FFF;
    box-shadow: -3px 5px #000;
    padding: .6rem 1rem;
    border: 3px solid #000;
    font-weight: 600;
	border-radius: 0;
}

.btn-shadow:hover {
	color: #2D6A4F;
    box-shadow: -3px 5px #2D6A4F;
    border: 3px solid #2D6A4F;
}	

.btn-shadow:focus {
	color: black;
    box-shadow: -3px 5px black;
    border: 3px solid black;
	background-color: #D8F3DC;
}

#main_div {
	min-height: 70vh;
	margin: 1px;
	background-color: #fafafa;
}


#main_div a {
	color: black;
}

#main_div .nav-link {
	color: #056e41;
}

#main_div .nav-link.active {
	color: black;
}

.item {
	display: flex;
	position: relative;
	padding-right: 5.5em;
}

.item button {
	background-color: #acffe3;
	border-radius: 0;
	margin-right: 0.4em;
}

.overflow-hide {
	overflow: hidden;
}

.datetime {
	padding: 10px;
	position: absolute;
	right: 0;
}

#profile_pic {
	display: inline-block;
	width: 130px;
	height: 130px;
	background-color: #d0ffff;
}

#profile_banner {
	display: flex;
}

#profile_banner div {
	max-width: 300px;
	margin-left: 0;
}

#profile_banner > div > small {
	font-size: 0.8em;
	font-weight: 600;
}
